@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
#mainNav a,
#mainNav li,
#mainNav span {
  color: white !important;
}
#mainNav {
  top: 0;
  z-index: 10;
}

/* example (SCSS) */
.topbar {
  position: sticky;
  top: 0;
  z-index: 50;
}

.header {
  position: sticky;
  top: 40px; /* topbar height */
  z-index: 40;
}
.header {
  top: var(--topbar-height);
}
#mainNav {
  position: absolute;
  top: 32px; /* topbar height */
  z-index: 10;
}
